<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>

    <ul class="layui-nav" lay-filter="filter">
        <li class="layui-nav-item"><a href="/user/redirect/index">首页</a></li>
        <li class="layui-nav-item"><a href="/video/findByCategory/电视剧">电视剧</a></li>
        <li class="layui-nav-item"><a href="/video/findByCategory/综艺">综艺</a></li>
        <li class="layui-nav-item"><a href="/video/findByCategory/电影">电影</a></li>
        <li class="layui-nav-item"><a href="/video/findByCategory/纪录片">纪录片</a></li>
        <li class="layui-nav-item"><a href="/video/findByCategory/新闻">新闻</a></li>
    </ul>

    <ul class="layui-nav layui-layout-right layui-nav-right" lay-filter="filter">
        <li class="layui-nav-item">
            <form action="/video/findByName">
                <input name="name" type="text" placeholder="请输入视频名" style="height: 30px">
                <input type="submit" value="查 询" style="height: 30px; width:60px;">
            </form>
        </li>
        <li class="layui-nav-item">
            <a href="/login.html"><span th:if="${session.user==null}">登录</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="/register.html"><span th:if="${session.user==null}">注册</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">个人中心</a>
            <dl class="layui-nav-child">
                <dd><a href="/user_update.html">修改信息</a></dd>
                <dd><a href="/my_order.html">我的订阅</a></dd>
                <dd><a href="/user/logout">退出</a></dd>
            </dl>
        </li>
    </ul>

    <table>
        <tr>
            <td th:each="video : ${videos}" style="width: 200px;height: 300px" align="center">
                <div>
                    <a th:href="@{/video/findDetails/{id}(id=${video.id})}">
                        <img  th:src="${video.imgurl}" style="width: 165px;height: 220px;">
                    </a>
                </div>
                <div>
                    <a th:href="@{/video/findDetails/{id}(id=${video.id})}">
                        <h3 style="color: #C0C0C0"><lable th:text="${video.name}"></lable></h3>
                    </a>
                </div>
            </td>
        </tr>
    </table>

    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;

            //…
        });
    </script>
</body>
</html>
